.base {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
  padding: 25px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}