.base {
  width: 400px;
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.list {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.listItem {
  cursor: pointer;
  border-radius: $border-radius-second-size;

  transition: background-color 0.5s;

  &:hover {
    background-color: $hover-color;
    color: $active-text-color;
  }

  &__active {
    background-color: $active-color;
    color: $active-text-color;
  }
}

.noChatMessage {
  padding-top: 50px;
  color: $second-text-color;
}
